/* .App {
  border:2px solid black;
} */
.nav-link{
  text-align:center;
}






 h2{
  text-align:center;
 }
 h4{
  text-align:center;
 }
.card-title{
  text-align:left;
}

.large-icon {
  font-size: 20px;
}